
#parent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2.5rem;
    text-align: center;
}

.pohee{
    flex: 0 0 23.5%;
    width: 32vw;
    margin: 25px auto;
    background-color: pink;
    align-content: center;
    border: solid black;
}
/* 
.card-front{
    flex: 0 0 23.5%;
    width: 32vw;
    margin: 25px auto;
    align-content: center;
} */

.img{
    width:15vw;
    height: 14vw;
}