@import url(variable.css);

*,html,body{
    box-sizing: border-box;
    font: 62.5%;
    margin: 0;
    padding: 0;
    font-family: 'Lobster Two', cursive;
}

body{
    background-color: var(--primary);
}

#above{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary);
}

#searcher{
    text-align: right;
    margin-right: 1.5rem;
    color: var(--textColor);
}

#parent{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color:var(--primary);
}

#searchBar{
    background-color: var(--white);
    border-color: var(--black);
    cursor: text;
    border-radius: 2rem;
    border-style: solid;
    font-size: 14px;
    line-height: 1.42857; 
    padding: 1rem;
    height: 1rem;}

#searchBar:hover{
        background-color: lightgray;
    }
#searchBar:focus{
        background-color: var(--white);
        border-color: var(--lightBlue);
    }

.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px var(--black);
    background-color: var(--secondary);
    position:relative;
    overflow: hidden;
    transition: all 0.3s;
    transition: transform 0.7s ease 0.3s;
}

.movie:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 30px var(--white);
  }

.button{
    margin-top: 3px;
    margin-right: 2.2rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: var(--secondary);
    border-radius: 0.25rem;
    border: 1px solid var(--white);
    color: var(--black);
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
}
.button:hover{
        box-shadow: var(--black);
        background-color: lightgrey;
    }

.img{
    width:100%;
}

