@import url(variable.css);

*,html,body{
    box-sizing: border-box;
    font: 62.5%;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary);
}

#above{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary);
}

#searcher{
    text-align: right;
    background-color: var(--primary);
    margin-right: 8.6rem;
    color: var(--textColor);
}

#parent{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color:var(--primary);
}

.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px var(--black);
    background-color: var(--secondary);
    position:relative;
    overflow: hidden;
}

.img{
    width:100%;
}

