:root{
    /*colors*/
    --white: #fff;
    --black: #000;
    --brown: #331800;
    
    /* theme 1 */
    --red: #ec442c;
    --lightRed: #eab99f;

    /* theme 2 */
    --purple: #643ce4;
    --lightBlue:#728FCE;
    /*text*/
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
    }

    /* theme */

    .theme1{
        --primary: var(--red);
        --secondary: var(--lightRed);
        --textColor: var(--black);
    }
    
    .theme2{
        --primary: var(--purple);
        --secondary: var(--lightBlue);
        --textColor: var(--white);
    }

    /* text sizes */
/* 
    h1{
        font-size: var(--h2);
    }

    h2{
        font-size: var(--h3);
    }

    h3{
        font-size: var(--h5);
    }

    h4{
        font-size: var(--h4);
    } */